.compra-form {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.compra-form h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  width: 100%;
}
.form-container{
  display: flex;
  justify-content: center;

  width: 100%;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
}
.form-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
.compra-form input,
.compra-form select,
.compra-form textarea,
.compra-form button {
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.compra-form textarea {
  resize: vertical;
  min-height: 80px;
}

.compra-form input[readonly] {
  background-color: #eee;
  color: #555;
}

.compra-form button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.compra-form button:hover {
  background-color: #45a049;
}

.compra-form p {
  text-align: center;
  color: #2e7d32;
  font-weight: bold;
}
